<div class="container mt-5">
  <h2>いいね一覧</h2>
  <div class="row">
  <% @favorite_impressions.each do |impression| %>
    <div class="col-md-4">
      <div class="card border-dark my-3" style="max-width: 40rem;">
        <div class="card-header">
          勉強会名：<%= link_to impression_path(impression.id) do %>
            <%= impression.title %>
          <% end %>
        </div>
        <div class="card-body" text-dark>
          <div class="mb-3">
            分野名：<%= impression.field.name %>
          </div>
          <div>
            投稿者：<%= link_to customer_path(impression.customer.id) do %>
              <%= impression.customer.name %>
            <% end %>
          </div>
        </div>
        <div><i class="far fa-comment-dots ml-3"></i><%= link_to "#{impression.comments.count}", impression_path(impression.id) %>♥<%= impression.favorites.count %></div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="pagination mt-4"><%= paginate @favorite_impressions %></div>
</div>