<h1><%= @customer.name %></h1>

<% if @customer == current_customer %>
  <%= link_to "プロフィール更新", edit_customer_path(current_customer.id),class: "btn btn-success" %>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-8 offset-md-1">
    <h2>ユーザー投稿</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>勉強会名</th>
            <th>分野</th>
            <th>講師名</th>
          </tr>
        </thead>
        <tbody>
          <% @impressions.each do |impression| %>
            <tr>
              <td>
                <%= link_to impression_path(impression.id) do %>
                  <%= impression.title %></td>
                <% end %>
              <td><%= impression.field.name %></td>
              <td><%= impression.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>