<% if @impression.errors.any? %>
  <%= @impression.errors.count %>件のエラーが発生しました
  <ul>
    <% @impression.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row mt-5">
    <h2>投稿編集</h2>
    <div class="col-md-12 mt-2">
      <div class="card border-dark mb-3" style="max-width: 60rem;">
　　　　<%= form_with model: @impression, url: impression_path(@impression.id), method: :patch do |f| %>
        <div class="mx-4 ">勉強会名
          <%= f.text_field :title, autofocus: true, placeholder:'30文字以内で記入して下さい', class:'form-control' %>
        </div>
        <div class="mt-4 mx-4">講師名
          <%= f.text_field :name, autofocus: true, placeholder:'30文字以内で記入して下さい', class:'form-control' %>
        </div>
        <div class="mt-4 mx-4">感想
          <%= f.text_area :text, autofocus: true, placeholder:'30文字以内で記入して下さい', class:'form-control' %>
        </div>
        <div class="mt-4 mx-4">
          <%= f.label :field_id, '分野' %><div><%= f.select :field_id, Field.all.map { |f| [f.name, f.id]}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></div>
        </div>
        <div class="d-flex justify-content-center my-4">
          <%= f.submit '更新', class:'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>