<% if @impression.errors.any? %>
  <%= @impression.errors.count %>件のエラーが発生しました
  <ul>
    <% @impression.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <h2 class="my-3 ml-3">
    勉強会参加感想の新規投稿
  </h2>
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <%= form_with model: @impression do |f| %>
        <div class="form-group">
          <%= f.label :title, '勉強会名' %><br>
          <%= f.text_field :title, autofocus: true, class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :name, '講師名' %><br>
          <%= f.text_field :name, class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :text, '感想' %><br>
          <%= f.text_area :text, class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :field_id, '分野' %><br>
          <%= f.select :field_id, Field.all.map { |f| [f.name, f.id]}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
        </div>
        <div class="d-flex justify-content-center mb-5">
          <%= f.submit '投稿', class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>