<% if @impression.errors.any? %>
  <%= @impression.errors.count %>件のエラーが発生しました
  <ul>
    <% @impression.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>勉強会参加感想の新規投稿</h1>
  <%= form_with model: @impression do |f| %>
    <h4>勉強会名</h4>
      <%= f.text_field :title %>

    <h4>講師名</h4>
      <%= f.text_field :name %>

    <h4>感想</h4>
      <%= f.text_area :text %>

    <h4>分野</h4>
    <%= f.label :field_id, 'ジャンル' %><div><%= f.select :field_id, Field.all.map { |f| [f.name, f.id]}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></div>
    <%= f.submit '投稿' %>
  <% end %>