<div><%= flash[:notice] %></div>

<div class="container">
  <div class="row mt-5">
    <h2>勉強会参加感想の投稿詳細</h2>
    <div class="col-md-12 mt-2">
      <div class="card border-dark mb-3" style="max-width: 60rem;">
        <div class="card-header">
          勉強会名：<%= @impression.title %>
        </div>
        <div class="card-body" text-dark>
          分野名：<%= @impression.field.name %><br/>
          講師名：<%= @impression.name %><br/>
          感　想：<%=safe_join(@impression.text.split("\n"),tag(:br))%>
        </div>
      </div>
    </div>
    <% if customer_signed_in? && current_customer.id == @impression.customer_id %>
      <div class="ml-3">
        <%= link_to "更新", edit_impression_path(@impression.id),class: "btn btn-success" %>
      </div>
      <div class="ml-3">
        <%= link_to "削除", impression_path(@impression.id),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
      </div>
    <% end %>
    <% if admin_signed_in? %>
      <div class="ml-3">
        <%= link_to "削除", admin_impression_path(@impression.id),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <% if customer_signed_in? %>
      <% if @impression.favorited_by?(current_customer) %>
        <p><%= link_to impression_favorites_path(@impression), method: :delete do %>
            ♥<%= @impression.favorites.count %> いいね
           <% end %>
        </p>
      <% else %>
        <p><%= link_to impression_favorites_path(@impression), method: :post do %>
            ♡<%= @impression.favorites.count %> いいね
           <% end %>
        </p>
      <% end %>
      <% else %>
          ♥<%= @impression.favorites.count %> いいね
      <% end %>
    </div>
    <div class="col-md-12">
      <p>
      <% @impression.comments.each do |comment| %>
        <div>
          <%= link_to customer_path(@impression.customer.id) do %>
            <%= comment.customer.name %>
          <% end %>
        </div>
        <div>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div>
          <%= comment.comment %>
        </div>
          <% if comment.customer == current_customer %>
            <%= link_to "削除", impression_comment_path(comment.impression, comment),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
          <% end %>
          <% if admin_signed_in? %>
            <%= link_to "削除", admin_impression_comment_path(@impression.id, comment.id),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
          <% end %>
        </br>
      <% end %>
      </p>
    </div>
    <div class="col-md-12">
      <%= form_with model: [@impression, @comment] do |f| %>
        <%= f.text_area :comment, placeholder:'コメントをここに入力して下さい', class:'form-control' %>
        <%= f.submit '送信する', class:'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>