<div><%= flash[:notice] %></div>

<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-3">
　　　<h2>勉強会感想一覧</h2>
      <%= form_with url: search_path, method: :get do |f| %>
        <%= f.text_field :word, placeholder: "勉強会名・分野名を記入して下さい", value: params[:word], class: "from-box", size: "40" %>
        <%= f.submit "検索", class: "" %>
      <% end %>
    </div>
  </div>
    <p class="sort pt-4">
      <%= link_to '新しい順', impressions_path(latest: "true") %>
      |<%= link_to '古い順', impressions_path(old: "true") %>
    </p>
  <div class="row">
  <% @impressions.each do |impression| %>
    <div class="col-md-4">
      <div class="card border-dark mb-3" style="max-width: 40rem;">
        <div class="card-header">
          勉強会名：<%= link_to admin_impression_path(impression.id) do %>
            <%= impression.title %>
          <% end %>
        </div>
        <div class="card-body" text-dark>
          分野名：<%= impression.field.name %><br/>
          投稿者：<%= link_to admin_customer_path(impression.customer.id) do %>
            <%= impression.customer.name %>
          <% end %>
        </div>
        <div><i class="far fa-comment-dots ml-3"></i><%= link_to "#{impression.comments.count}", impression_path(impression.id) %>♥<%= impression.favorites.count %></div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="pagination mt-4"><%= paginate @impressions %></div>
</div>