<div class="container">
  <div class="row">
    <div class="col-lg-10">
　　　<h2>勉強会感想一覧</h2>
      <%= form_with url: search_path, method: :get do |f| %>
        <%= f.text_field :word, placeholder: "勉強会名・分野名を記入して下さい", value: params[:word], class: "from-box", size: "50" %>
        <%= f.submit "検索", class: "" %>
      <% end %>
    </div>
  </div>
    <p class="sort pt-4">
      <%= link_to '新しい順', impressions_path(latest: "true") %>
      |<%= link_to '古い順', impressions_path(old: "true") %>
    </p>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>勉強会名</th>
            <th>分野</th>
            <th>講師名</th>
            <th>投稿者名</th>
            <th>コメント数</th>
            <th>いいね数</th>
          </tr>
        </thead>
        <tbody>
        <% @impressions.each do |impression| %>
          <tr>
            <td>
              <%= link_to impression_path(impression.id) do %>
                <%= impression.title %>
              <% end %>
            </td>
            <td><%= impression.field.name %></td>
            <td><%= impression.name %></td>
            <td>
              <%= link_to customer_path(impression.customer.id) do %>
                <%= impression.customer.name %>
              <% end %>
            </td>
            <td><%= link_to "#{impression.comments.count} コメント", impression_path(impression.id) %></td>
            <td>♥<%= impression.favorites.count %> いいね</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>