<!DOCTYPE html>
<html>
  <head>
    <title>RehaStudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="shadow-sm bg-light-green">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h1><%= link_to "reha_study",root_path,class: 'nav-link text-dark' %></h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
              ようこそ！<%= current_customer.name %>さん
              <li class="nav-item">
                <%= link_to "TOP", root_path , class: 'nav-link text-dark'  %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー", customer_path(current_customer.id) , class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿一覧", impressions_path ,class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規投稿", new_impression_path ,class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path ,class: 'nav-link text-dark' ,method: :delete %>
              </li>
              <li class="nav-item">
                <%= link_to "お問い合わせ", new_contact_path ,class: "nav-link text-dark" %>
              </li>
              <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "投稿一覧", admin_impressions_path , class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_customers_path ,class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "分野一覧", admin_fields_path,class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path,class: 'nav-link text-dark' ,method: :delete %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path,class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", customer_session_path,class: 'nav-link text-dark' %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  <main>
    <%= yield %>
  </main>
  </body>
</html>